#container {
width: 900px;
margin: 0 auto;
}

nav{
  margin-bottom: 100px;
  margin-top: 75px;
}

#menu {
  margin: 0 auto;
  text-align: center;
}

.link {
  display: inline-block;
  margin-right: 130px;
}

.link:last-child{
  margin: 0;
}

.link a {
  text-decoration: none;
  color: #626262;
  font-family: Playfair Display;
}

.link a:hover {
  color: blue;
}

.block {
  display: inline-block;
  width: 420px;
  height: 480px;
  margin-left: 25px;
  font-family: Playfair Display ,Arial;
}

.block:nth-last-child(n+3){
margin-bottom: 130px;
}

.block h2 {
  margin-bottom: 38px;
  color: #626262;
}

.text-p {
  color: #626262;
}

.text {
  margin-top: 30px;
  margin-bottom: 25px;
  font-family: Ubuntu Light ,Arial;
  color: #898989;
}

.text:hover {
  color: blue;
}

.text, a{
  text-transform: uppercase;
}

#btn {
  background: none;
  padding: 25px 35px;
  border: 1px black solid;
  margin-top: 55px;
  font-family: Playfair Display ,Arial;
}

#button-container{
  width: 100%;
  text-align: center;
}