@media (min-width: 768px) and (max-width: 960px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        min-width: 768px;
        max-width: 960px;
        margin: 0 auto;
    }

    .page-nav {
        display: flex;
        justify-content: space-around;
    }
    .page-header {
        max-width: 100%;
        max-height: 100%;
    }

    .logo {
        display: none;
        font-weight: 700;
    }

    .logo-tablet {
        display: flex;
        align-items: center;
        font-weight: 700;
    }

    .wrapper {
        width: 660px;
        margin: 0  auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
    }

    .post {
        width: 266px;
    }

    .post p {
        font-weight: 400;
    }

    .post-text h2{
        font-size: 52px; 
        width: 492px;
        font-weight: 700;
    }

    .post h4 {
        font-weight: 700;
    }

    .post-text p {
        font-size: 24px;
        width: 404px;
        font-weight: 700;
    }

    .page-nav a {
        font-weight: 700;
    }

    .logo-text {
        font-weight: 700;
    }

    .button-tablet button {
        font-weight: 700;
    }

    .btn {
        font-weight: 700;
    }

    .btn-more button {
        font-weight: 700;
    }
     
}

@media (min-width: 962px) {
    .container {
        min-width: 942px;
        max-width: 100%;
        margin: 0 auto;
    }

    .page-nav {
        display: flex;
        justify-content: space-around;
    }

    .page-header {
        max-width: 100%;
        max-height: 100%;
    }

    .logo-tablet {
        display: flex;
        align-items: center;
    }

    .logo {
        display: none;
    }

    .wrapper {
        width: 942px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-between;
    }

    .post-text h2 {
        width: 500px;
        font-size: 52px;
        font-weight: 700;
        margin-top: 120px;
        line-height: 1.4;
    }
    
    .post-text p {
        width: 100%;
        font-size: 24px;
        font-weight: 400;
        padding-top: 40px;
        padding-bottom: 36px;
      }
    
    .logo-text h3 {
        font-size: 22px;
        font-weight: 700;
    }
       
}