.header-describe {
  position: absolute;
  width: 100%;
  margin-top: 200px;
  text-align: center;
  z-index: 30;
}

.header-describe__subtitle {
  font-family: $kaushan-script-font-cursive;
  font-size: 72px;
  font-weight: 400;
  line-height: 100%;
  color: $text-white-color;
  margin-bottom: 60px;
}

.header-describe__title {
  font-family: $montserrat-font-stack;
  text-transform: uppercase;
  font-size: 150px;
  color: $text-white-color;
  max-width: 870px;
  line-height: 140px;
  margin: 0 auto;
  margin-bottom: 130px;
}

.header-describe__link {
  font-size: 14px;
  font-weight: 700;
  font-family: $montserrat-font-stack;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-white-color;
  border: 3px solid #ffffff;
  padding: 10px 25px;
}
