.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 56px;
}

.service-list-item {
  width: 380px;
  position: relative;
  min-height: 120px;
  padding: 15px 15px 15px 75px;
}

.service-list-text h3 {
  margin: 0 0 15px;
  font-size: 14px;
  font-family: $montserrat-font-stack;
  color: $text-dark-color;
  text-transform: uppercase;
  line-height: 1.2;
}

.service-list-text p {
  font-size: 15px;
  font-family: $roboto-font-stack;
  color: $text-grey-color;
  line-height: 1.6;
}

.service-list-item::before {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  left: 15px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}