$roboto-font-stack: 'Roboto', sans-serif;

$montserrat-font-stack: 'Montserrat', sans-serif;

$kaushan-script-font-cursive: 'Kaushan Script', cursive;

$text-white-color: #ffffff;

$text-dark-color: #333333;

$text-grey-color: #999999;
