.icon-alarm::before {
  background-image: url(../images/icon/alarm.png);
}

.icon-line::before {
  background-image: url(../images/icon/line.png);
}

.icon-computer::before {
  background-image: url(../images/icon/computer.png);
}

.icon-book2::before {
  background-image: url(../images/icon/book2.png);
}

.icon-home::before {
  background-image: url(../images/icon/home.png);
}

.icon-image::before {
  background-image: url(../images/icon/image.png);
}
